ipykernel
pylint
pycodestyle
pycodestyle_magic
flake8
pytest
python-dotenv
azureml-sdk
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-vision-contentmoderator
azure-cognitiveservices-vision-customvision
cognitive-face
azure-cognitiveservices-search-websearch
azure-cognitiveservices-search-imagesearch
azure-cognitiveservices-search-entitysearch
azure-cognitiveservices-search-customsearch
azure-cognitiveservices-search-videosearch
azure-cognitiveservices-search-newssearch
azure-cognitiveservices-language-textanalytics
azure-cognitiveservices-language-luis
azure-cognitiveservices-language-spellcheck
scikit-learn
pandas
numpy
pillow
matplotlib